<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ksksue.app.terminal"
    android:versionCode="11"
    android:versionName="1.1.7" >

    <uses-sdk android:minSdkVersion="13" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:icon="@drawable/terminal"
        android:label="@string/app_name">
        <activity
            android:name=".AndroidUSBSerialMonitorLite"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            
        </activity>
        <activity android:name=".AndroidUSBSerialMonitorLitePrefActivity"></activity>
        <activity android:name=".WordListActivity"></activity>
        </application>

</manifest>